{% extends 'base.html.twig' %}

{% block title %}Productos - {% endblock %}

{% block rutas %}
    Productos - <span>Nuevo</span>
    <a href="{{ path('productos_index') }}" class='btnVolver' title="Volver al listado">
        <img src="{{asset('images/iconos/volver.png')}}" alt="" />
    </a>
{% endblock %}

{% block contenido %}
    <h1>Nuevo producto</h1>
    
    <form method="post" action="{{ path('productos_new') }}">
        {{ include('productos/_form.html.twig') }}
    </form>
{% endblock %}
